{% extends "base.html" %}
{% block content %}
<header class="py-5" >
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder" style="color:rgb(0, 0, 0);">درباره ما</h1>
          <p class="lead fw-normal text-white-50 mb-0"  style="color:rgb(0, 0, 0);">مارا بهتر بشناسید.</p>
      </div>
  </div>
</header>

<br><br>
<div class="container">
  <div class='row'>
    <center>
      <div class='col-10'>
        <p align='justify'>
     
          اتو مارکت با هدف ایجاد فضایی امن و مطمئن برای خرید و فروش خودرو فعالیت خود را آغاز کرده است. ما تلاش می‌کنیم تا با ارائه خدمات حرفه‌ای و پشتیبانی مناسب، تجربه‌ای لذت‌بخش و سریع را برای کاربران خود فراهم کنیم.

        </p>
      </div>
    </center>
  </div>
</div> 
<br><br>

{% endblock %}