{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">درباره ما</h1>
          <p class="lead fw-normal text-white-50 mb-0">مارا بهتر بشناسید.</p>
      </div>
  </div>
</header>

<br><br>
<div class="container">
  <div class='row'>
    <center>
      <div class='col-10'>
        <p align='justify'>
          در جهانی که تکنولوژی به سرعت در حال پیشرفت است، اهمیت خلاقیت و نوآوری بیش از هر زمان دیگری احساس می‌شود. انسان‌ها با استفاده از ابزارهای پیشرفته، مرزهای دانش و هنر را گسترش داده‌اند و به دنبال راه‌های جدیدی برای بهبود کیفیت زندگی هستند. در این میان، همگرایی بین علوم مختلف و هنرهای خلاقانه نقش مهمی در شکل‌گیری آینده‌ای روشن‌تر دارد.

هر ایده‌ی کوچک می‌تواند جرقه‌ای برای تغییری بزرگ باشد. مهم نیست که شما در کدام زمینه فعالیت می‌کنید، با کمی پشتکار و خلاقیت می‌توانید تأثیرگذار باشید و جهان را به مکانی بهتر تبدیل کنید.


        </p>
      </div>
    </center>
  </div>
</div> 
<br><br>

{% endblock %}