{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">اتو مارکت</h1>
                <p class="lead fw-normal text-white-50 mb-0">خرید امن و مطمئن با اتو مارکت</p>
            </div>
        </div>
    </header>

    <!-- Section for Products and Advertisements -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <!-- Products Section -->
            <h2 class="text-center mb-4">محصولات</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in products %}
                    {% if item.is_sale %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">فروش ویژه</div>
                                <!-- Product image -->
                                <img class="card-img-top" src="{{ item.picture.url }}" alt="{{ item.name }}" />
                                <!-- Product details -->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{ item.name }}</h5>
                                        <strike>{{ item.price }}</strike> تومان<br>
                                        {{ item.sale_price }} تومان
                                    </div>
                                </div>
                                <!-- Product actions -->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'product' item.id %}">اطلاعات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image -->
                                <img class="card-img-top" src="{{ item.picture.url }}" alt="{{ item.name }}" />
                                <!-- Product details -->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{ item.name }}</h5>
                                        {{ item.price }} تومان
                                    </div>
                                </div>
                                <!-- Product actions -->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'product' item.id %}">اطلاعات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Advertisements Section -->
            <h2 class="text-center mb-4">آگهی‌ها</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for advertisement in advertisements %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Advertisement image -->
                            <img class="card-img-top" src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" />
                            <!-- Advertisement details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ advertisement.title }}</h5>
                                    <p class="card-text">{{ advertisement.description }}</p>
                                    <p class="card-text"><small class="text-muted">شماره تماس: {{ advertisement.phone }}</small></p>
                                </div>
                            </div>
                            <!-- Advertisement actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'advertisement_detail' advertisement.id %}">اطلاعات بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}